@model Proizvod

<div class="card bg-dark text-white mt-1 pl-1">
  
    <h3>
        <strong>@Model.Naziv</strong>
        <span class="float-right badge-primary">
            @Model.Cena.ToString()
        </span>
    </h3>
    <form id="@Model.ProizvodId" asp-action="DodajStavku" asp-controller="Korpa"
          method="post">
        <input type="hidden" asp-for="ProizvodId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PutanjaQueryString()" />
        <span class="card-body p-0">
            @Model.Opis
            <button type="submit" class="btn btn-success btn-sm float-right">
                Dodaj u korpu
            </button>
        </span>
    </form>
   
</div>
