@model IEnumerable<ProdavnicaWeb.Models.Kategorija>

@{
    ViewData["Title"] = "Kategorija";
}

<span>
    <a asp-action="Create">Kreiraj novu kategoriju</a>
</span>
<span class="float-right">
    <a asp-action="Administracija" asp-controller="Home">Vrati se na admin panel</a>
</span>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KategorijaId">Izmeni</a> |
                    <a asp-action="Details" asp-route-id="@item.KategorijaId">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.KategorijaId">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
