
@model IEnumerable<Proizvod>

@{
    ViewData["Title"] = "Proizvodi";
}


<span>
    <a asp-action="Create">Kreiraj novi proizvod</a>
</span>
<span class="float-right">
    <a asp-action="Administracija" asp-controller="Home">Vrati se na admin panel</a>
</span>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Cena
                </th>
            <th>
               Kategorija
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Proizvod p in Model) {
        <tr>
            <td>
                @p.Naziv
            </td>
            <td>
                @p.Opis
            </td>
            <td>
                @p.Cena
            </td>
            <td>
                @p.Kategorija.Naziv
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@p.ProizvodId" class="d-block">Izmeni</a>
                <a asp-action="Details" asp-route-id="@p.ProizvodId" class="d-block">Detalji</a>
                <a asp-action="Delete" asp-route-id="@p.ProizvodId" class="d-block">Obrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
