@model IEnumerable<string>

<a class="btn btn-block mt-1
@(ViewBag.Kategorija== "" ? "btn-primary": "btn-dark")"
   asp-action="Index"
   asp-controller="Home"
   asp-route-kategorija="">
    Svi proizvodi
</a>

@foreach (string kategorija in Model)
{
    <a class="btn btn-block mt-1
        @(kategorija == @ViewBag.Kategorija  ? "btn-primary": "btn-dark")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-kategorija="@kategorija">
        @kategorija
    </a>

}

<div class="card p-1 mt-2 bg-secondary text-white">
    <form asp-action="Index" asp-route-kategorija="@ViewBag.Kategorija">
        <div class="form-group text-center">
            <label for="ime" class="">Unesite minimalnu cenu</label>
            <input type="text" data-val="true" name="min" id="min" class="form-control" pattern="^[0-9]*$" />
        </div>
        <div class="form-group text-center">
            <label for="ime">Unesite maksimalnu cenu</label>
            <input type="text" data-val="true" name="max" id="max" class="form-control" pattern="^[0-9]*$" /> <br />
        </div>
        <input type="submit" value="Pronadji" class="btn btn-block btn-primary" />
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
