
@model IEnumerable<string>

<a class="btn btn-block mt-1
@(ViewBag.Kategorija== "" ? "btn-primary": "btn-dark")"
   asp-action="Index"
   asp-controller="Home"
   asp-route-kategorija="">
    Svi proizvodi
</a>

@foreach (string kategorija in Model)
{
    <a class="btn btn-block mt-1
        @(kategorija == @ViewBag.Kategorija  ? "btn-primary": "btn-dark")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-kategorija="@kategorija">
        @kategorija
    </a>

}

<div class="card p-1 mt-2 bg-dark text-white">
    <form  asp-action="Index" data-ajax="true" data-ajax-update="#div1" asp-route-kategorija="@ViewBag.Kategorija">
        <div class="form-group" style="text-align-last:center">
            <label for="ime" class="">Unesite minimalnu cenu</label>
            <input type="text" data-val="true" data-val-requied ="Unesite broj"
                   name="min" id="min" class="form-control" />
            <span class="text-danger" data-valmsg-for="min" data-valmsg
                  replace="true"></span>
        </div>
        <div class="form-group" style="text-align-last:center">
            <label for="ime">Unesite maksimalnu cenu</label>
            <input type="text" data-val="true" data-val-requied ="Unesite broj"
                   name="max" id="max" class="form-control" /> <br />
            <span class="text-danger" data-valmsg-for="max" data-valmsg
                  replace="true"></span>
        </div>
        <input type="submit" value="Pronadji" class="btn btn-block btn-primary" />
    </form>
</div>

@section Scripts{

    @{ 
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}
